# Virtualenv and packages
env/
vendored/

# Compiled packages
py-cryptography-1.7.2.zip

# Compiled binaries
*.pyc

# Unit test / coverage reports
.coverage

# Packaged Lambda function
s3-sftp-bridge.zip

# Terraform state and modules
**/terraform.tfstate*
**/.terraform/*
